.navbarContainer{
    width: 100%;
    background-color: blue;
    display: inline-flex;
    vertical-align: middle;
}

.navbarTitle {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 0.5rem;
}

.navbarButton  {
    background-color: transparent;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0.5rem
}